.container {
  width: 800px;
  margin: 0 auto;
}

.header-container, .review-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centrer les enfants horizontalement */
  align-items: center; /* Centrer les enfants verticalement */
  flex-direction: column; /* Organise les enfants en colonne */
}
